<mat-toolbar color="primary">
    <mat-icon>local_fire_department</mat-icon>
    <span>IT Sports</span>
</mat-toolbar>

<mat-card class="card">
    <mat-card-title>Welcome to IT Sports</mat-card-title>
    <mat-card-content>
        We offer different activities for Software Engineers.
    </mat-card-content>
</mat-card>


<mat-card class="card">
    <mat-card-title>Yoga</mat-card-title>
    <mat-card-subtitle>Maximum number of people: 15</mat-card-subtitle>
    <mat-card-content>
        <p>Start Time: {{'2021-11-01 14:00' | date: 'short' }} </p>
        <p>End Time: {{'2021-11-01 15:00' | date: 'short' }}</p>
    </mat-card-content>
</mat-card>

<mat-card class="card">
    <mat-card-title>Karate</mat-card-title>
    <mat-card-subtitle>Maximum number of people: 6</mat-card-subtitle>
    <mat-card-content>
        <p>Start Time: {{'2021-11-02 19:00' | date: 'short' }} </p>
        <p>End Time: {{'2021-11-02 20:30' | date: 'short' }}</p>
    </mat-card-content>
</mat-card>