.spacer {
    flex: 1 1 auto;
  }

  .card {
    max-width: 800px;
    margin: 10px auto;
    box-shadow:
       inset 0 -1em 1em rgba(0,0,0,0),
             0 0  0 1px rgb(255,255,255),
             0.1em 0.1em 1em rgba(156, 154, 203, 1);

}